body{
    overflow: hidden;
}
.landingloader{
    animation: front 2s linear infinite;
  }
  @keyframes front {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }
  